*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin: 0 auto;
    background-color: black;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

li {
background-color: rgb(20, 189, 172);
border: 1px solid black;
box-sizing: border-box;
width: 200px;
height: 200px;
list-style: none;
position: relative;
}

li.cross::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 150px;
    background-color: rgb(65, 65, 65);
    transform:translate(-50%, -50%) rotate(45deg);
    animation: appear .3s;
}
li.cross::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 150px;
    background-color: rgb(65, 65, 65);
    transform:translate(-50%, -50%) rotate(-45deg);
    animation: appear .3s forwards;
    
}



.circle {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white; 
    position: relative;
    overflow: hidden;
}
.circle::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(20, 189, 172);
    height: 90%;
    width: 90%;
    border-radius: 50%;
}

.box{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(20, 189, 172);
}

.box-top-left{
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
    animation: show-top-left .1s forwards linear;
}

.box-bottom-left{
    top: 100px;
    left: 0;
    transform-origin: 100% 0;
    animation: show-bottom-left .1s forwards .1s linear;

}

.box-bottom-right{
    top: 100px;
    left: 100px;
    transform-origin: 0 0;
    animation: show-bottom-right .1s forwards .2s linear;
}

.box-top-right{
    top: 0;
    left: 100px;
    transform-origin: 0 100%;
    animation: show-top-right .1s forwards .3s linear;

}





@keyframes appear {
    from {opacity: 0%;}
    to  {opacity: 100%;}
}


@keyframes show-top-left {
    0%{transform: skewX(0deg);}
    99.9%{
        height: 100px;
        width: 100px;
    }
    100%{
        height: 0;
        width: 0;
        transform: skewX(90deg);}
}
@keyframes show-bottom-left {
    0%{transform: skewY(0deg);}
    99.9%{
        height: 100px;
        width: 100px;
    }
    100%{
        height: 0;
        width: 0;
        transform: skewY(-90deg);}
}

@keyframes show-bottom-right {
    0%{transform: skewX(0deg);}
    99.9%{
        height: 100px;
        width: 100px;
    }
    100%{
        height: 0;
        width: 0;
        transform: skewX(90deg);}
}

@keyframes show-top-right {
    0%{transform: skewY(0deg);}
    99.9%{
        height: 100px;
        width: 100px;
    }
    100%{
        height: 0;
        width: 0;
        transform: skewY(-90deg);}
}