:root{
--size: 220px


}
.disabled {
    opacity: 40%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 528px;
    height: 528px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
ul{ 
    width: 488px;
    height: 488px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 400px;
    background-color: rgb(39, 0, 180);
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;}

.modal-div {
    display: flex;
    align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  font-size: 1.2rem;
  text-align: center;
  flex-grow: 3;
}

.btn-div {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 20px;
    width: 100%;
    flex-grow: 1;
}

.btn-div button {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



li {
    background-color: rgb(20, 189, 172);
    border: 1px solid black;
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    list-style: none;
    position: relative;
    }
    li.cross::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(var(--size)/20);
        height: calc(var(--size)/1.85);
        background-color: rgb(65, 65, 65);
        transform:translate(-50%, -50%) rotate(45deg);
        animation: appear .3s;
    }
    li.cross::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(var(--size)/20);
        height: calc(var(--size)/1.85);
        background-color: rgb(65, 65, 65);
        transform:translate(-50%, -50%) rotate(-45deg);
        animation: appear .3s forwards;
        
    }
    
    
    
    .circle {
        height: calc(var(--size)/2);
        width: calc(var(--size)/2);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white; 
        position: relative;
        overflow: hidden;
    }
    .circle::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgb(20, 189, 172);
        height: 90%;
        width: 90%;
        border-radius: 50%;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    margin: 20px 0;

}
.title-wrap {
    width: 33.3333%;
    padding-left: 20px;
}

.reset-wrap {
    width: 33.3333%;
    text-align: center;
}
.additional-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
}
.container h1{ 
    font-family: Hubballi;
    font-size: 3rem;
color: rgb(54, 215, 199)}


.container button{
    background-color: #4c91af; 
    border-radius: 5px ;
    color: white;
    padding: 15px 32px;
    margin: 10px 0 0 0;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover{background-color: #77bfde;}

.container p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
font-size: 1.5rem;
}

.drawline {
    background-color: red;
    position: absolute;
}
.horizontal { 
    height: 8px;
    left: -5%;
    right: -5%;
    animation: drawingHorizontal 1s ease;
}

.vertical {
width: 8px;
top: -5%;
bottom: -5%;
animation: drawingVertical 1s ease;

}

.diagonal {
    width: 8px;
    top: 50%;
    left: 50%;
    height: 180%;
}
.box{
    position: absolute;
    height: calc(var(--size)/4);
    width: calc(var(--size)/4);
    background-color: rgb(20, 189, 172);
}

.box-top-left{
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
    animation: show-top-left .1s forwards linear;
}

.box-bottom-left{
    top: calc(var(--size)/4);
    left: 0;
    transform-origin: 100% 0;
    animation: show-bottom-left .1s .1s forwards linear;


}

.box-bottom-right{
    top: calc(var(--size)/4);
    left: calc(var(--size)/4);
    transform-origin: 0 0;
    animation: show-bottom-right .1s .2s forwards linear;
}

.box-top-right{
    top: 0;
    left: calc(var(--size)/4);
    transform-origin: 0 100%;
    animation: show-top-right .1s .3s forwards linear;

}



@keyframes appear {
    from {opacity: 0%;}
    to  {opacity: 100%;}
}


@keyframes show-top-left {
    0%{transform: skewX(0deg);}
    99.9%{
        height: calc(var(--size)/4);
        width: calc(var(--size)/4);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewX(90deg);}
}
@keyframes show-bottom-left {
    0%{transform: skewY(0deg);}
    99.9%{
        height: calc(var(--size)/4);
        width: calc(var(--size)/4);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewY(-90deg);}
}

@keyframes show-bottom-right {
    0%{transform: skewX(0deg);}
    99.9%{
        height: calc(var(--size)/4);
        width: calc(var(--size)/4);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewX(90deg);}
}

@keyframes show-top-right {
    0%{transform: skewY(0deg);}
    99.9%{
        height: calc(var(--size)/4);
        width: calc(var(--size)/4);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewY(-90deg);}
}


@keyframes drawingHorizontal {
    from{ left: -5%; right: 105%;}
    to{left: -5%; right: -5%;}
}

@keyframes drawingVertical {
    from{ top: -5%; bottom: 105%;}
    to{top: -5%; bottom: -5%;}
}

@keyframes drawingDiagonalLeft {
    from{left: -150%; top:-150%}
    to{top: 50%; left: 50% ;}
}

@keyframes drawingDiagonalRight {
    from{left:250%; top:-150%}
    to{top: 50%; left: 50% ;}
}